---
import Date from "@components/Date.astro";
import PageHeader from "@components/PageHeader.astro";
import RSSAutodiscovery from "@components/RSSAutodiscovery.astro";
import RSSIcon from "@components/RSSIcon.astro";
import SiteHeader from "@components/SiteHeader.astro";
import type { CollectionEntry } from "astro:content";
import { RSS_URL } from "src/consts";
import { filterOutDrafts } from "src/utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const thoughts = await getCollection("thoughts", filterOutDrafts);
	return thoughts.map((thought) => ({
		params: { slug: thought.slug },
		props: { thought },
	}));
}

const thought: CollectionEntry<"thoughts"> = Astro.props.thought;
const { Content } = await thought.render();
const { description, title, pubDate, subTitle } = thought.data;
---

<style>
	header {
		/* Space between pub date and first paragraph */
		margin-block-end: var(--space-4);
	}

	.rss-card {
		margin-top: var(--space-5);
		inline-size: max-content;
		max-inline-size: 100%;
	}

	.rss-card .secondary-heading {
		margin-block-end: var(--space-1);
	}
</style>

<BaseLayout description={description} title={title}>
	<RSSAutodiscovery slot="head" />
	<SiteHeader />

	<main>
		<article>
			<header>
				<PageHeader {...{ title, subTitle }} />

				<Date date={pubDate} />
			</header>

			<div class="flow">
				<Content />
			</div>
		</article>

		<aside class="card rss-card">
			<h2 class="secondary-heading">
				<RSSIcon aria-hidden /> Enjoy Reading This?
			</h2>
			<p class="paragraph">
				Consider subscribing to <a class="link" href={RSS_URL}
					>my RSS feed</a
				> to get future thoughts in your reader.
			</p>
			<p class="paragraph">
				<a class="link" href="https://aboutfeeds.com/">What is RSS?</a>
			</p>
		</aside>
	</main>
</BaseLayout>
