---
import Date from "@components/Date.astro";
import PageHeader from "@components/PageHeader.astro";
import RSSCard from "@components/RSSCard.astro";
import SiteHeader from "@components/SiteHeader.astro";
import type { CollectionEntry } from "astro:content";
import { filterOutDraftThoughts } from "src/utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const thoughts = await getCollection("thoughts", filterOutDraftThoughts);
	return thoughts.map((thought) => ({
		params: { slug: thought.slug },
		props: { thought },
	}));
}

const thought: CollectionEntry<"thoughts"> = Astro.props.thought;
const { Content } = await thought.render();
const { description, title, pubDate, subTitle } = thought.data;
---

<style>
	header {
		/* Space between pub date and first paragraph */
		margin-block-end: var(--space-4);
	}

	header :global(formatted-date) {
		display: block;
	}

	.flow,
	header :global(formatted-date),
	aside {
		margin-inline: var(--margin-inline-prose);
	}

	aside {
		margin-top: var(--space-5-6);
	}
</style>

<BaseLayout description={description} title={title}>
	<SiteHeader />

	<main>
		<article>
			<header>
				<PageHeader {...{ title, subTitle }} />

				<Date date={pubDate} />
			</header>

			<div class="flow">
				<Content />
			</div>
		</article>

		<RSSCard tag="aside" heading="Enjoy Reading This?" />
	</main>
</BaseLayout>
