.resume-header {
  display: grid;
  gap: var(--spacing-1);
  margin: var(--spacing-2) 0 var(--spacing-3);
  text-align: center;
}

.resume-header_logo { display: none; }

.resume-header_name { font-size: 2em; }

.resume-header_profession { font-size: 1.5em; }

.resume-header_contact-info { list-style-type: none; }

.resume-header_contact-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

@media (min-width: 620px) {
  .resume-header {
    align-items: flex-end;
    grid-template-columns: auto auto 1fr auto;
    text-align: initial;
  }

  .resume-header_logo {
    display: block;
    inline-size: 3rem;
  }

  .resume-header_name { line-height: 1; }

  .resume-header_profession {
    grid-column-end: -1;
    line-height: 1;
  }

  .resume-header_contact-info {
    border-image: var(--std-gradient) 1;
    border-top: 2px solid;
    flex-direction: row;
    gap: 1em;
    grid-column: 1/-1;
    padding-top: var(--spacing-1);
  }
}
