.site-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  margin: var(--spacing-2) 0 var(--spacing-3);
}

@media (min-width: 520px) {
  .site-header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

@keyframes periodic-spin {
  0% { transform: rotate(0); }
  12% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.site-header_logo {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: periodic-spin;
  inline-size: 3rem;
  margin-inline-end: var(--spacing-2);
}

@media (prefers-reduced-motion: reduce) {
  .site-header_logo { animation: none; }
}

.site-header_nav {
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(max(110px, 33%), 1fr));
  list-style: none;
  text-align: center;
}
.site-header_nav::after {
  background: var(--color-back);
  content: "";
}

@media (min-width: 520px) {
  .site-header_nav {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    gap: var(--spacing-2);
  }
  .site-header_nav::after { display: none; }
}

.site-header_nav-item {
  background: var(--color-back);
  padding: var(--spacing-1);
}

@media (min-width: 520px) {
  .site-header_nav-item {
    line-height: 0;
    padding: 0;
  }
}

.site-header_nav-icon { display: none; }

@media (min-width: 520px) {
  .site-header_nav-icon {
    color: var(--color-fore);
    display: inline-block;
    inline-size: 1.5rem;
  }

  .site-header_nav-icon-text {
    /* Visually Hidden */
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    top: auto;
    left: -101vw;
    white-space: nowrap;
  }
}
