.thought_pub-date {
  display: block;
  margin-block-end: var(--spacing-2);
}

.thought :is(.blockquote, .paragraph) {
  font-size: 1.1em;
}

.thought .paragraph + .thought_collapse-content {
  margin-block-start: calc(var(--spacing-1) * -1);
}

.thought_heading {
  font-size: 1.2em;
  font-weight: bold;
  margin-block-end: var(--spacing-1);
}

.thought_collapse-content {
  font-size: 1.1em;
  margin-block-end: var(--spacing-2);
}

.thought_collapse-content-summary {
  cursor: pointer;
  font-style: italic;
  margin-block-end: var(--spacing-0);
}
