:root {
	--color-snow: #ffffff;
	--color-fog: #ffffffdd;
	--color-ash: #404040;
	--color-obsidian: #222222;

	--color-light-green: #7ccc81;
	--color-vibrant-green: #5da562;
	--color-logo-green: #0b6c12;
	--color-blue: #5ca0a5;
	--color-coral: #f68d5e;

	--color-accent: var(--color-blue);
	--color-background: var(--color-obsidian);
	--color-outline: var(--color-snow);
	--color-primary: var(--color-vibrant-green);
	--color-raised-background: var(--color-ash);
	--color-primary-light: var(var(--color-light-green));
	--color-text: var(--color-fog);

	--std-gradient: linear-gradient(
		90deg,
		var(--color-primary) 0%,
		var(--color-accent) 100%
	);

	color-scheme: dark;
}

@media print {
	:root {
		--color-background: var(--color-snow);
		--color-text: var(--color-obsidian);
		--color-primary: var(--color-logo-green);
	}
}

html {
	background: var(--color-background);
	color: var(--color-text);
	scrollbar-color: var(--color-accent) var(--color-background);
}

:focus-visible {
	outline: var(--color-outline) solid 3px;
	outline-offset: 0.3em;
}

:not(.astro-code)::selection {
	background-color: var(--color-accent);
	color: var(--color-background);
}
