:root {
	--color-background: #222;
	--color-primary: #5da562;
	--color-raised-background: #333;
	--color-text: #e2e2e2;
	/* This should be roughly the same value as output by color-mix below */
	--color-accent: #80b582;
	--color-accent: color-mix(
		in oklab,
		var(--color-primary) 75%,
		var(--color-text)
	);

	--std-gradient: linear-gradient(
		90deg,
		var(--color-primary) 0%,
		var(--color-accent) 100%
	);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: #dfccbd;
		--color-raised-background: #cfb6a2;
		--color-text: #071c2e;
		--color-primary: #194967;
		--color-accent: #86a7c0;
	}
}

@media print {
	:root {
		--color-background: white;
		--color-text: black;
		/* Green from the logo */
		--color-primary: #0b6c12;
	}
}

html {
	background: var(--color-background);
	color: var(--color-text);
	scrollbar-color: var(--color-accent) var(--color-background);
}

:focus-visible {
	outline: var(--color-text) solid 3px;
	outline-offset: 0.3em;
}

:not(.astro-code)::selection {
	background-color: var(--color-accent);
	color: var(--color-background);
}
