:root {
	--color-background: #222;
	--color-primary: #5da562;
	--color-raised-background: #333;
	--color-text: #fffd;
	--color-accent: color-mix(in oklab, var(--color-primary) 75%, var(--color-text));

	--std-gradient: linear-gradient(
		90deg,
		var(--color-primary) 0%,
		var(--color-accent) 100%
	);

	color-scheme: dark;
}

@media print {
	:root {
		--color-background: white;
		--color-text: black;
		/* Green from the logo */
		--color-primary: #0b6c12;
	}
}

html {
	background: var(--color-background);
	color: var(--color-text);
	scrollbar-color: var(--color-accent) var(--color-background);
}

:focus-visible {
	outline: var(--color-text) solid 3px;
	outline-offset: 0.3em;
}

:not(.astro-code)::selection {
	background-color: var(--color-accent);
	color: var(--color-background);
}
