*,
::before,
::after {
	font: inherit;
	/* https://frontendmasters.com/blog/you-want-border-color-transparent-not-border-none/ */
	border-color: transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}
