@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 300 900;
	src: url(/assets/fonts/Figtree-wght.woff2) format("woff2-variations");
}

@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: italic;
	font-weight: 300 900;
	src: url(/assets/fonts/Figtree-Italic-wght.woff2) format("woff2-variations");
}

@font-face {
	font-display: fallback;
	font-family: Trispace;
	font-stretch: 75 125;
	font-style: normal;
	font-weight: 100 800;
	src: url(/assets/fonts/Trispace-wdth,wght.woff2) format("woff2-variations");
}

html {
	/* 14px w/default user preferences */
	--font-size-small: 0.875rem;
	/* 18px w/default user preferences */
	--font-size-base: 1.125rem;
	/* 26.4px w/default user preferences */
	--font-size-secondary-heading: 1.65rem;
	/* 40px w/default user preferences */
	--font-size-primary-heading: 2.5rem;
	/* 64px w/default user preferences */
	--font-size-mega-heading: 4rem;

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 550;
	--font-weight-bold: 700;

	--line-height-prose: 1.8;
	--line-height-short-prose: 1.4;

	@media print {
		--line-height-prose: 1.6;
		--line-height-short-prose: 1.3;
	}
}

body {
	/* https://blog.jim-nielsen.com/2020/system-fonts-on-the-web/ */
	font-family: Figtree, ui-sans-serif, system-ui, sans-serif;
	font-synthesis: none;
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-base);
}

@media (max-width: 480px) {
	html {
		/* Takes font-size-base to 16px w/default user preferences */
		font-size: calc(1em * (8 / 9));

		/*
		Leave --font-size-small as is. 14px (assuming default user preferences)
		is already pretty small, and still smaller than the 16px --font-size-base
		shrinks to. Fallback to close value for browsers that don't support round
		*/
		--font-size-small: 1rem;
		--font-size-small: round(1rem, 1px);
	}
}

@media (min-width: 1200px) {
	html {
		/* Takes font-size-base to 20px w/default user preferences */
		font-size: calc(1em * (10 / 9));
	}
}

pre,
code,
kbd {
	font-family: Trispace, ui-monospace, monospace;
}
