---
import PageHeader from "@components/PageHeader.astro";
import SiteHeader from "@components/SiteHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404">
	<SiteHeader />

	<main>
		<PageHeader
			noContent
			title="404"
			subTitle="I hate to say it, but it looks like the page you're searching for doesn't exist."
		/>
	</main>
</BaseLayout>
