---
import PageHeader from "@components/PageHeader.astro";
import SingleColumnLayout from "@layouts/SingleColumnLayout.astro";
---

<SingleColumnLayout title="404">
	<main>
		<PageHeader
			noContent
			title="404"
			subTitle="I hate to say it, but it looks like the page you're searching for doesn't exist."
		/>
	</main>
</SingleColumnLayout>
