---
import { getCollection, getEntry } from "astro:content";
import PageHeader from "@components/PageHeader.astro";
import SiteHeader from "@components/SiteHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const items = await getCollection("site-tech");

const { Content: Bio } = await (
	await getEntry("miscellaneous", "bio")
).render();

const layoutProps = {
	description:
		"Thanks for stopping by! I keep my thoughts and resume posted on this site and use it to hone my web skills.",
	title: "Nicolaos Skimas",
	titleTrailer: "Web Developer",
};
---

<style>
	.bio {
		margin-block-end: var(--space-6);
	}

	.site-tech {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-2);
		list-style: none;
		margin-block-start: var(--space-2);
	}
</style>

<BaseLayout {...layoutProps}>
	<SiteHeader />
	<main>
		<PageHeader
			title="Welcome to my site!"
			subTitle="My name is Nicolaos Skimas, and I'm a web developer."
		/>

		<section class="bio flow">
			<Bio />
		</section>

		<section>
			<h2 class="secondary-heading">nicolaos.dev is built using...</h2>
			<ul class="site-tech">
				{
					items.map(({ id, data }) => (
						<li>
							<a class="link" href={data.url}>
								{id}
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
