---
import { getCollection } from "astro:content";
import ListLayout from "@layouts/ListLayout.astro";

const siteTechItems = await getCollection("site-tech");
---

<style>
	section:not(:last-child) {
		margin-block-end: var(--space-7);
	}

	.secondary-heading {
		margin-block-end: var(--space-2);
	}

	.list li::marker {
		color: var(--color-primary);
	}

	.site-tech {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-2);
		list-style: none;
	}
</style>

<ListLayout
	heading="Nicolaos Skimas"
	subHeading="Welcome to my humble home on the web"
	title="Home"
	description="Thanks for stopping by! This site is where I post my thoughts, keep my resume, and hone my web skills."
>
	<main>
		<section>
			<h2 class="secondary-heading">Faith</h2>
			<p class="paragraph">
				My identity is rooted in my relationship with Jesus Christ. He
				is the forgiver of my sins and the one who gives me hope for the
				future. You can read <a class="link" href="/thoughts/testimony"
					>my testimony</a
				> to see how I came to believe and trust in that.
			</p>
		</section>

		<section>
			<h2 class="secondary-heading">Career</h2>
			<p class="paragraph">
				I'm a software engineer who loves creating clean, accessible,
				and responsive user experiences. I'm most experienced working on
				the frontend, but I've also worked on servers, command line
				interfaces, and CI/CD pipelines. You can get details about my
				skills and experience on <a class="link" href="/resume"
					>my resume</a
				> or check me out on <a
					class="link"
					rel="me"
					href="https://github.com/dev-nicolaos">GitHub</a
				>
				or <a
					class="link"
					rel="me"
					href="https://www.linkedin.com/in/nicolaos-skimas/"
					>LinkedIn</a
				>.
			</p>
		</section>

		<section>
			<h2 class="secondary-heading">Interests</h2>
			<ul class="list">
				<li>Sports</li>
				<li>Web Development</li>
				<li>History</li>
				<li>Outdoor Recreation</li>
				<li>Homelabbing</li>
			</ul>
		</section>

		<section>
			<h2 class="secondary-heading">nicolaos.dev is built using...</h2>
			<ul class="site-tech">
				{
					siteTechItems.map(({ id, data }) => (
						<li>
							<a class="link" href={data}>
								{id}
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</ListLayout>
