---
import Link from "@components/Link.astro";
import PageHeader from "@components/PageHeader.astro";
import Prose from "@components/Prose.astro";
import SiteHeader from "@components/SiteHeader.astro";
import { Content as Bio } from "@misc-content/bio.md";
import items from "@data/site-tech-items.json";
import BaseLayout from "@layouts/BaseLayout.astro";

const layoutProps = {
	description:
		"Thanks for stopping by! I keep my thoughts and resume posted on this site and use it to hone my web skills.",
	title: "Nicolaos Skimas",
	titleTrailer: "Web Developer",
};
---

<style>
	img {
		display: block;
		inline-size: min(100%, 380px);
		margin: var(--space-m) auto 0;
	}

	h2 {
		font-size: var(--font-size-secondary-heading);
		margin-block: var(--space-m-l) var(--space-m);
	}

	.site-tech {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-s);
		list-style: none;
	}
</style>

<BaseLayout {...layoutProps}>
	<SiteHeader />
	<main>
		<PageHeader
			title="Welcome to my site!"
			subTitle="My name is Nicolaos Skimas, and I'm a web developer."
		/>

		<section class="bio">
			<Prose>
				<Bio />
			</Prose>

			<picture>
				<source srcset="/assets/img/nicolaos.webp" type="image/webp" />
				<img
					alt="Nicolaos Skimas"
					height="1"
					src="/assets/img/nicolaos.jpg"
					width="1"
				/>
			</picture>
		</section>

		<section>
			<h2>nicolaos.dev is built using...</h2>
			<ul class="site-tech">
				{
					items.map(({ name, url }) => (
						<li>
							<Link hoverEffect href={url}>
								{name}
							</Link>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
