---
import PageHeader from "@components/PageHeader.astro";
import SiteHeader from "@components/SiteHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Links and Likes";
---

<BaseLayout
	title={pageTitle}
	description="A curated feed of the the projects, posts, and links I appreciate."
>
	<SiteHeader />
	<PageHeader
		title={pageTitle}
		subTitle="A place to celebrate other people's ideas and projects."
		no-content
	/>
	<p>Coming soon!</p>
</BaseLayout>
