---
import { getCollection } from "astro:content";
import LinkLike from "@components/LinkLike.astro";
import ListLayout from "@layouts/ListLayout.astro";
import { sortEntriesByPubDate } from "../utils";
import RSSCard from "@components/RSSCard.astro";

const linkLikes = (await getCollection("links-and-likes")).sort(
	sortEntriesByPubDate,
);

const pageTitle = "Links and Likes";
---

<style>
	main > :global(* + *) {
		margin-block-start: var(--space-4);
	}
</style>

<ListLayout
	heading={pageTitle}
	subHeading="A place to celebrate other people and their work."
	description="A curated feed of shout outs celebrating other people and their work."
>
	<main>
		{linkLikes.map((linkLike) => <LinkLike linkLike={linkLike} />)}

		<RSSCard />
	</main>
</ListLayout>
