---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ResumeSection from "@components/ResumeSection.astro";

type Section = CollectionEntry<"resume-sections">;
type SectionId = Section["id"];

const sections = (await getCollection("resume-sections")).reduce(
	(acc, section) => {
		acc[section.id] = section;
		return acc;
	},
	{} as { [key in SectionId]: Section },
);

const orderedSectionNames: Array<SectionId> = [
	"Work Experience",
	"Education",
	"Technical Skills",
	"Essential Traits",
	"Volunteer Work",
	"Awards",
] as const;
---

<style>
	header {
		display: grid;
		gap: var(--space-2);
	}

	.contact-info {
		display: flex;
		font-size: var(--font-size-base);
		gap: var(--space-1-2);
	}

	@media (min-width: 550px) {
		header {
			align-items: baseline;
			grid-template-columns: auto 1fr auto;
			text-align: initial;
			line-height: 1;
		}

		.profession {
			grid-column-end: -1;
		}

		.contact-info {
			border-image: var(--std-gradient) 1;
			border-block-start: 2px solid;
			grid-column: 1/-1;
			padding-block-start: var(--space-1);
		}
	}
</style>

<BaseLayout
	title="Resume"
	description="A formatted record of my work experience, education, and skills kept mostly up to date"
>
	<header>
		<h1 class="contents">
			<span class="primary-heading name">Nicolaos Skimas</span>
			<span class="profession">Software Engineer</span>
		</h1>
		<address class="contact-info">
			<a class="link" href="/">https://nicolaos.dev</a>
			<a class="link" href="mailto:contact@nicolaos.dev">
				contact@nicolaos.dev
			</a>
		</address>
	</header>

	<main>
		{
			orderedSectionNames.map((sectionName) => (
				<ResumeSection section={sections[sectionName]} />
			))
		}
	</main>
</BaseLayout>
