---
import Link from "@components/Link.astro";
import LocalizedDate from "@components/LocalizedDate.astro";
import PageHeader from "@components/PageHeader.astro";
import RSSAutodiscovery from "@components/RSSAutodiscovery.astro";
import SiteHeader from "@components/SiteHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { filterOutDrafts, sortThoughtsByPublishDate } from "../utils";

const thoughts = (await Astro.glob("./thoughts/**/*.md"))
  .filter(filterOutDrafts)
  .sort(sortThoughtsByPublishDate);
---

<style>
  li {
    display: block;
  }
  li:not(:last-of-type) {
    margin-block-end: var(--space-m-l);
  }

  li :global(a) {
    display: block;
    font-size: var(--font-size-secondary-heading);
    margin-block-end: var(--space-s);
  }

  li :global(time) {
    font-style: italic;
    font-size: var(--font-size-base);
  }
</style>

<BaseLayout title="Thoughts">
  <RSSAutodiscovery slot="head" />
  <SiteHeader />
  <main>
    <PageHeader heading="Thoughts" />

    <ul>
      {
        thoughts.map(({ frontmatter, url }) => (
          <li>
            <Link href={url + "/"}>{frontmatter.heading}</Link>
            <LocalizedDate date={frontmatter.publishDate} />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
