---
import { getCollection } from "astro:content";
import CTALink from "@components/CTALink.astro";
import PageHeader from "@components/PageHeader.astro";
import RSSAutodiscovery from "@components/RSSAutodiscovery.astro";
import RSSIcon from "@components/RSSIcon.astro";
import SiteHeader from "@components/SiteHeader.astro";
import ThoughtsList from "@components/ThoughtsList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { RSS_URL } from "../consts";
import { filterOutDrafts, sortThoughtsByPubDate } from "../utils";

const thoughts = (await getCollection("thoughts", filterOutDrafts)).sort(
  sortThoughtsByPubDate
);
---

<style>
  .cta {
    gap: var(--space-xs);
    display: inline-flex;
    align-items: center;
    margin-block-end: var(--space-l);
  }
</style>

<BaseLayout title="Thoughts">
  <RSSAutodiscovery slot="head" />
  <SiteHeader />
  <main>
    <PageHeader
      title="Thoughts"
      subTitle="A series of posts about life, technology and web development."
    />

    <CTALink href={RSS_URL}>
      <span>Subscribe via RSS</span>
      <RSSIcon aria-hidden />
    </CTALink>

    <ThoughtsList thoughts={thoughts} />
  </main>
</BaseLayout>
