---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;
const { class: className, ...linkProps } = Astro.props;
---

<style>
	.cta {
		color: var(--color-fog);
		font-weight: var(--font-weight-bold);
		line-height: 1;
		padding: var(--space-1);
		position: relative;
		text-decoration: none;
	}

	.cta::before {
		background: var(--color-purple);
		block-size: 100%;
		border-radius: var(--border-radius-small);
		box-shadow: 4px 4px var(--color-ash);
		content: "";
		inline-size: 100%;
		position: absolute;
		transform: skewX(-15deg);
		transition: scale 100ms;
		translate: -8px;
		z-index: -1;
	}

	.cta:hover::before {
		scale: 1.05;
	}
</style>

<a {...linkProps} class:list={["cta", className]}><slot /></a>
