---
const { hoverEffect, ...rest } = Astro.props;
const attr = {
	...rest,
	...(rest.href?.startsWith("http") && {
		target: "_blank",
		rel: "noopener",
	}),
	class: `${rest.class}${hoverEffect ? " hover-effect" : ""}`,
};
---

<style>
	a {
		--color: var(--color-link, var(--color-primary));
		--line-height: max(var(--min-touch-target-size), 1em);
		color: var(--color);
		display: inline-block;
		font-size: var(--font-size-link, var(--font-size-base));
		line-height: var(--line-height);
		min-block-size: var(--min-touch-target-size);
		min-inline-size: var(--min-touch-target-size);
	}

	.hover-effect {
		transition-property: box-shadow, color;
		transition-duration: 0.2s;
	}

	.hover-effect:hover {
		box-shadow: inset 0 calc(var(--line-height) * -1) var(--color);
		color: var(--color-link-hover, var(--color-background));
		/* color: color-contrast(var(--color) vs var(--color-snow), var(--color-background)) */
		text-decoration-color: var(--color);
	}
</style>

<a {...attr}><slot /></a>
