---
interface Props {
	title: string;
	subTitle?: string;
	/** Use when a page has no content other than the header, such as a 404 page. */
	noContent?: boolean;
}
const { title, noContent = false, subTitle } = Astro.props;
---

<style>
	hgroup {
		margin-block-end: var(--page-header-bottom-margin, var(--space-6));
		text-align: center;
	}

	hgroup::after {
		background: var(--std-gradient);
		border-radius: var(--border-radius-large);
		content: "";
		display: block;
		height: 0.5em;
		margin-block-start: var(--space-3-4);
	}

	p {
		line-height: var(--line-height-short-prose);
		margin-block-start: var(--space-3);
		text-wrap: balance;
	}

	hgroup.no-content h1 {
		font-size: var(--font-size-mega-heading);
	}

	hgroup.no-content p {
		font-size: var(--font-size-secondary-heading);
	}

	hgroup.no-content::after {
		margin-block-start: var(--space-5);
	}
</style>

<hgroup class:list={[{ "no-content": noContent }]}>
	<h1 class="primary-heading" transition:name={`h1-${Astro.url.pathname}`}>
		{title}
	</h1>
	{subTitle && <p>{subTitle}</p>}
</hgroup>
