---
interface Props {
	title: string;
	subTitle?: string;
	noContent?: boolean;
}
const { title, noContent = false, subTitle } = Astro.props;
---

<style>
	hgroup {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
		margin-block-end: var(--space-6);
		text-align: center;
	}

	hgroup::after {
		background: var(--std-gradient);
		border-radius: var(--border-radius-large);
		content: "";
		display: block;
		height: 0.5em;
	}

	hgroup[data-no-content] h1 {
		font-size: var(--font-size-mega-heading);
	}

	hgroup[data-no-content] p {
		font-size: var(--font-size-secondary-heading);
	}
</style>

<hgroup class="page-header" data-no-content={noContent}>
	<h1 class="primary-heading" transition:name={`h1-${Astro.url.pathname}`}>
		{title}
	</h1>
	{subTitle && <p>{subTitle}</p>}
</hgroup>
