<style>
  div {
    line-height: 1.8;
    font-size: var(--font-size-prose);
    max-inline-size: 65ch;
  }

  div > :global(* + *) {
    margin-block-start: var(--space-m);
  }

  div :global(h2) {
    font-size: var(--font-size-secondary-heading);
    margin-block-start: var(--space-l);
  }

  div :global(a) {
    --color: var(--color-link, var(--color-primary));
    color: var(--color);
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  div :global(a:hover) {
    box-shadow: inset 0 -1.1em var(--color);
    color: var(--color-link-hover, var(--color-background));
    /* color: color-contrast(var(--color) vs var(--color-snow), var(--color-background)) */
  }

  div :global(blockquote) {
    font-style: italic;
    margin-inline: var(--space-s-m);
  }

  div > :global(blockquote > * + *) {
    margin-block-start: var(--space-s);
  }

  div :global(:is(ol, ul)) {
    padding-inline-start: 1.25em;
  }

  div :global(details) {
    border: 2px dashed var(--color-ash);
    padding: var(--space-xs);
  }
  div :global(details > summary) {
    cursor: pointer;
    font-style: italic;
  }
  div :global(details[open] > summary) {
    margin-block-end: var(--space-xs);
  }

  div :global(.astro-code) {
    padding: var(--space-s);
  }

  div :global(:not(.astro-code) > code) {
    background-color: var(--color-ash);
    border-radius: 4px;
    color: var(--color-snow);
    padding-inline: 2px;
  }

  div :global(em) {
    font-style: italic;
  }

  div :global(strong) {
    font-weight: bold;
  }
</style>

<div>
  <slot />
</div>
