<style>
  div {
    line-height: 1.8;
    font-size: var(--font-size-prose);
  }

  div > :global(* + *) {
    margin-block-start: var(--space-s);
  }

  div :global(h2) {
    font-size: var(--font-size-secondary-heading);
    margin-block-start: var(--space-m);
  }

  div :global(a) {
    --color: var(--color-link, var(--color-primary));
    color: var(--color);
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  div :global(a:hover) {
    box-shadow: inset 0 -1.1em var(--color);
    color: var(--color-link-hover, var(--color-background));
    /* color: color-contrast(var(--color) vs var(--color-snow), var(--color-background)) */
  }

  div :global(blockquote) {
    font-style: italic;
    margin-inline: var(--space-s-m);
  }

  div > :global(blockquote > * + *) {
    margin-block-start: var(--space-s);
  }

  div :global(li) {
    list-style-position: inside;
  }

  div :global(details > summary) {
    cursor: pointer;
    font-style: italic;
  }
</style>

<div>
  <slot />
</div>
