---
import {
	ALL_POSTS_RSS_URL,
	THOUGHTS_RSS_URL,
	LINKS_AND_LIKES_RSS_URL,
} from "../consts";
import RSSIcon from "./RSSIcon.astro";
import SelectALink from "./SelectALink.astro";

const {
	tag: Tag = "div",
	heading = "RSS Feeds",
	...cardAttributes
} = Astro.props;
---

<style>
	.card {
		display: grid;
		gap: var(--space-3);
		inline-size: fit-content;
	}

	p {
		line-height: var(--line-height-short-prose);
	}
</style>

<Tag class="card" {...cardAttributes}>
	<h2 class="secondary-heading">
		<RSSIcon aria-hidden />&VeryThinSpace;
		{heading}
	</h2>
	<p class="paragraph">
		Follow any of the feeds below to get future posts in your reader of
		choice. <a class="link" href="https://aboutfeeds.com/">What is RSS?</a>
	</p>

	<SelectALink
		selectLabel="Feed"
		links={[
			{ label: "All Posts", href: ALL_POSTS_RSS_URL },
			{ label: "Just Thoughts", href: THOUGHTS_RSS_URL },
			{
				label: "Just Links and Likes",
				href: LINKS_AND_LIKES_RSS_URL,
			},
		]}
	/>
</Tag>
