---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"svg">;
---

<style>
	svg {
		inline-size: 1em;
	}
	@supports (inline-size: 1cap) {
		svg {
			inline-size: 1cap;
		}
	}
</style>

<svg
	role="img"
	xmlns="http://www.w3.org/2000/svg"
	viewBox="81 80.3 350 351.42"
	{...Astro.props}
>
	<title>RSS Logo</title>
	<path
		d="M81.056 267.05c43.705 0 84.79 17.072 115.665 48.124 30.931 31.051 47.961 72.411 47.961 116.44h67.35c0-127.885-103.62-231.921-230.976-231.921v67.357zm.106-119.4c155.76 0 282.488 127.42 282.488 284.049H431C431 237.925 274.054 80.301 81.162 80.301v67.35zm93.135 236.998c0 25.757-20.892 46.649-46.649 46.649-25.756 0-46.648-20.885-46.648-46.649C81 358.878 101.885 338 127.641 338c25.757 0 46.656 20.878 46.656 46.648z"
		style="fill:#f68d5e"
	>
	</path>
</svg>
