---
import CloseIcon from "./svg/Close.svg";
import SearchIcon from "./svg/Search.svg";
---
<site-search>
	<button type="button" data-fn="open" class="icon-button"><SearchIcon width="24" /></button>
	<dialog closedby="any">
		<!-- <button data-fn="close" class="icon-button"><CloseIcon width="24" /></button> -->
		<form method="post" action="">
			<input class="form-item" type="search" autofocus required />
			<button class="form-item">Search</button>
		</form>
	</dialog>
</site-search>

<style>
	dialog {
		background: var(--color-raised-background);
		border-radius: var(--border-radius-large);
		padding: var(--space-2);
		top: 10dvh;
		justify-self: center;

	}
	dialog::backdrop {
		background: var(--color-background);
		opacity: 50%;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-1);

		> * {
			flex-grow: 1;
		}
	}
</style>

<script>
	class SiteSearch extends HTMLElement {
		connectedCallback() {
			const dialog = this.querySelector("dialog");
			this.querySelector("button[data-fn=open]").addEventListener(
				"click",
				() => {
					dialog.showModal();
				},
			);
			<!-- this.querySelector("button[data-fn=close]").addEventListener( -->
				<!-- "click", -->
				<!-- () => { -->
					<!-- dialog.close(); -->
				<!-- }, -->
			<!-- ); -->
		}
	}
	customElements.define("site-search", SiteSearch);
</script>
