---
import Logo from "./Logo.astro";
---

<style>
	header {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-2);
		justify-content: space-between;
		margin-block-end: var(--space-6);
	}

	nav > ul {
		align-items: center;
		column-gap: var(--space-3);
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		row-gap: var(--space-2);
	}

	nav .link {
		font-size: var(--font-size-small);
		font-weight: var(--font-weight-bold);
	}
</style>

<header>
	<Logo spin />
	<nav>
		<ul>
			<li><a class="link nav" href="/">Home</a></li>

			<li><a class="link nav" href="/thoughts/">Thoughts</a></li>

			<li>
				<a class="link nav" href="/links-and-likes/">Links and Likes</a>
			</li>
		</ul>
	</nav>
</header>
