---
import Logo from "./Logo.astro";

const topLevelNav = [
	{ label: "Home", href: "/" },
	{ label: "Thoughts", href: "/thoughts/" },
	{ label: "Links and Likes", href: "/links-and-likes/" },
];
---

<style>
	header {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-2);
		justify-content: space-between;
		margin-block-end: var(--space-6);
	}

	nav > ul {
		align-items: center;
		column-gap: var(--space-3);
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		row-gap: var(--space-2);
	}

	nav .link {
		font-size: var(--font-size-small);
		font-weight: var(--font-weight-bold);
	}
</style>

<header>
	<Logo spin />
	<nav>
		<ul>
			{
				topLevelNav.map(({ label, href }) => (
					<li>
						<a
							aria-current={
								href === Astro.url.pathname ? "page" : false
							}
							class="link nav"
							{href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
