.link {
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover { text-decoration: underline; }

.paragraph { line-height: 1.8; }
.paragraph:not(:last-child) {
  margin-block-end: var(--spacing-2);
}

.blockquote {
  font-style: italic;
  line-height: 1.8;
  margin-inline: var(--spacing-1);
  text-align: left;
}

.blockquote :is(ol, ul) {
  list-style-position: inside;
}
.blockquote > *:not(:last-child) {
  margin-block-end: var(--spacing-1);
}
