---
import RSSAutodiscovery from "@components/RSSAutodiscovery.astro";
import "../styles/global.css";

export interface Props {
	description?: string;
	title: string;
	titleTrailer?: string;
}

const { description, title, titleTrailer = "Nicolaos Skimas" } = Astro.props;
---

<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{title} | {titleTrailer}</title>
		<meta name="author" content="Nicolaos Skimas" />
		{description && <meta name="description" content={description} />}

		<meta name="color-scheme" content="dark light" />
		<meta name="theme-color" content="#194967" media="(prefers-color-scheme: light)" />
		<meta name="theme-color" content="#5da562" />

		<style>
			@view-transition {
				navigation: auto;
			}
		</style>

		<link
			rel="preload"
			href="/assets/fonts/Figtree-wght.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/assets/icons/logo.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png"><!-- 180×180 -->
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon-light.png" media="(prefers-color-scheme: light)"><!-- 180×180 -->

		<link rel="sitemap" href="/sitemap-index.xml" />

		<RSSAutodiscovery />

		<script defer>
			window.matchMedia("print").addEventListener("change", (evt) => {
				if (evt.matches) {
					elms = document.querySelectorAll(
						"details:not([open]):not([data-no-print-open])",
					);
					for (e of elms) {
						e.setAttribute("open", "");
						e.dataset.wasclosed = "";
					}
				} else {
					elms = document.querySelectorAll("details[data-wasclosed]");
					for (e of elms) {
						e.removeAttribute("open");
						delete e.dataset.wasclosed;
					}
				}
			});
		</script>
		
		<slot name="head" />
	</head>

	<body>
		<slot />
	</body>
</html>
