---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

interface Props {
	description?: string;
	title: string;
	titleTrailer?: string;
}

const { description, title, titleTrailer = "Nicolaos Skimas" } = Astro.props;
---

<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{title} | {titleTrailer}</title>
		<meta name="author" content="Nicolaos Skimas" />
		{description && <meta name="description" content={description} />}

		<meta name="theme-color" content="#5da562" />

		{
			[
				"/assets/fonts/Figtree[wght].woff2",
				"/assets/fonts/Figtree-Italic[wght].woff2",
				"/assets/fonts/Trispace[wdth,wght].woff2",
			].map((url) => (
				<link
					rel="preload"
					href={url}
					as="font"
					type="font/woff2"
					crossorigin
				/>
			))
		}
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/assets/icons/logo-192.png" />
		<link rel="manifest" href="/manifest.webmanifest" />

		<ViewTransitions fallback="none" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<slot name="head" />
	</head>

	<body>
		<slot />
	</body>
</html>
