---
import LocalizedDate from "@components/LocalizedDate.astro";
import PageHeader from "@components/PageHeader.astro";
import Prose from "@components/Prose.astro";
import SiteHeader from "@components/SiteHeader.astro";
import BaseLayout from "./BaseLayout.astro";

const { description, heading, publishDate, subHeading } =
  Astro.props.frontmatter;
---

<style>
  header {
    margin-block-end: var(--space-m);
  }

  header :global(time) {
    font-size: var(--font-size-base);
  }
</style>

<BaseLayout description={description} title={heading}>
  <SiteHeader />

  <main>
    <article>
      <header>
        <PageHeader {...{ heading, subHeading }} />

        <LocalizedDate date={publishDate} />
      </header>

      <Prose>
        <slot />
      </Prose>
    </article>
  </main>
</BaseLayout>
